body
{
    background-color: rgb(56, 134, 144);
    font-size: 22px;
    font-family: monospace;
    justify-content: center;
    text-align: center;
}

header
{
    background-color: rgb(168, 159, 59);
    height: 100px;
    margin: 10px;
    display: flex;
    text-align: center;
    color: rgb(17, 121, 105);
    padding: 15px;
}

.logo
{
    border-radius: 50px;
}

h1
{
    margin: 15px;
}

img
{
    height: 75px;
    width: 75px;
    background-color: rgb(17, 121, 105);
    border-radius: 50px;
}

main
{
    font-family: monospace;
    justify-content: center;
    text-align: center;
    margin: 25px;
    margin-left: 400px ;
    background-color: rgba(27, 83, 76, 0.711);
    padding: 10px;
    width: 600px;
    height: 630px;
}

main img
{
    height: 150px;
    width: 150px;
    background-color: rgb(206, 198, 112);
    border-radius: 70px;
}

main p
{
    color: rgb(206, 198, 112);
    font-family: fantasy;
    font-size: 42px;
}

h1
{    color: rgb(218, 209, 120);
    font-family: fantasy;
    font-size: 42px;

}

input[type="text"]
{
    font-size: 25px;
    background-color: rgb(220, 221, 179);
    color: rgb(26, 110, 65);
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
}

input[type="password"]
{
    font-size: 25px;
    background-color: rgb(220, 221, 179);
    color: rgba(26, 110, 65);
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
}

button
{
    background-color: rgb(206, 198, 112);
    border-style: none;
    border-radius: 20px;
    font-size: 25px;
    padding: 15px;
    margin: 10px;
    text-decoration: none;  
    color: rgb(26, 110, 65);
    font-family: fantasy;
}

a
{
    text-decoration: none;  
    color: rgb(26, 110, 65);
    font-family: fantasy;
}